/**
 * CONTENTS
 *
 * GLOBAL, NAV, PROJECTVIEW, GALLERY
 *
 */



/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

body, html {
	background: #000000;
}

h1 {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 4px;
}


/*------------------------------------*\
    #NAV
\*------------------------------------*/

#logo svg {
	width: 150px;
	height: auto;
	position: absolute;
	top: 20px;
	left: 20px;
	fill: #fff;
}


/*------------------------------------*\
    #PROJECTVIEW
\*------------------------------------*/

#project {
	position: absolute;
	top: 150px;
	left: 0;
	height: auto;
	width: 50%;
	padding: 70px 30px 50px 115px;
}

#project h1 {
	color: #fff;
}

.meta {
	padding: 2px 10px;
	margin-right: 10px;
	color: #fff;
	font-weight: normal;
	transition: 0.25s all ease-in;
	-webkit-transition: 0.25s all ease-in;
}

.meta:hover {
	opacity: 0.6;
}

.desc {
	width: 530px;
	padding: 35px 0 0 0;
	font-family: "Nanami Light", sans-serif;
	font-size: 14px;
	line-height: 150%;
	color: #fff;
	letter-spacing: 2px;
}

.desc p {
	padding-bottom: 30px;
}

.sm a {
	display: inline-block;
	color: #fff;
	padding: 0 5px;
	transition: 0.25s all ease-in;
	-webkit-transition: 0.25s all ease-in;
}

.sm a:hover {
	opacity: 0.6;
}

/*------------------------------------*\
    #GALLERY
\*------------------------------------*/

#gallery {
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 500px;
	height: 100vh;
	overflow: hidden;
}

#gallery figure {
	width: 500%;
  	margin: 0;
  	left: 0;
  	position: relative;
  	animation: 30s slidy infinite;
}

#gallery a {
	float: left;
	width: 100%;
}

#gallery a img {
	width: auto;
	height: 100vh;

}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

@-webkit-keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}